
.basic-product__title {
  .font-text(16px, 20px);
}


.basic-product__text {
font-family: @font-family-text;
  .font-text(12px, 16px);
  color: @text-color;
  text-transform: none;
}

.basic-product__button {
  &--more {
    background-color: @bgc-block;
    color: #444444;
  }
}

