.cooperate__text-wrapper {
  display: flex;
  justify-content: space-between;
  .container-min();
  padding-top: 29px;
  padding-bottom: 27px;
}

.cooperate__title {
  width: 140px;
  margin: 0;
  .font-text(16px, 20px);
  font-weight: 400;
}

.cooperate__contact {
  width: 140px;
  margin: 0;
  font-family: @font-family-text;
  .font-text(14px, 20px);
  color: @text-color;
  text-transform: none;
}

.cooperate__map-wrapper {
  height: 361px;
  overflow: hidden;
}

.cooperate__map {
  position: relative;
  width: 320px;
  margin: 0 auto;
  margin-top: -39px;

  &::before {
    position: absolute;
    content: "";
    width: 124px;
    height: 124px;
    top: 142px;
    left: 50%;
    margin-left: -63px;
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
  }
}

.cooperate__map-img {
  display: block;
  width: 320px;
  height: 400px;
}

@media (min-width: @tablet-width) {
  .cooperate__text-wrapper {
    .container-tablet();
    margin-bottom: 19px;
  }

  .cooperate__title {
    width: 160px;
    padding: 40px 40px;
    .font-text(20px, 25px);
  }

  .cooperate__contact {
    width: 160px;
    .font-text(16px, 20px);
    text-align: right;
    padding: 40px 40px;
  }

  .cooperate__contact-span {
    display: inline-block;
    margin-top: 19px;
  }

  .cooperate__map-wrapper {
    height: 396px;
  }

  .cooperate__map {
    width: 767px;
    margin-top: -4px;

    &::before {
      top: 137px;
      background-size: 120px;
    }
  }

  .cooperate__map-img {
    width: 767px;
    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .cooperate__text-wrapper {
    position: absolute;
    width: 570px;
    padding: 25px 35px 15px;
    left: 50%;
    margin-left: -610px;
    top: 95px;
    z-index: 20;
    background-color: @white;
    box-sizing: border-box;
  }

  .cooperate__contact {
    text-align: left;
    padding: 40px 50px;
  }

  .cooperate__contact-span {
    display: inline-block;
    margin-top: 20px;
  }

  .cooperate__map-wrapper {
    height: 400px;
  }

  .cooperate__map {
    width: 1440px;
    margin-top: 0;

    &::before {
      top: 137px;
      margin-left: 205px;
      background-size: 120px;
    }
  }

  .cooperate__map-img {
    width: 1440px;
    height: 400px;
    margin-left: -70px;
  }
}
