.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 16px;
}

.copyright__link {
  padding-bottom: 5px;
  font-family: @font-family-text;
  .font-text(16px, 16px);
  color: @text-color;
  text-transform: none;

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo {
  color: inherit;
  text-transform: none;
}

.copyright__logo .copyright__icon {
  width: 27px;
  height: 34px;
  fill: #666666;
}

.copyright__logo:hover .copyright__icon {
  fill: rgba(104, 183, 56, 1);
}


.copyright__logo:active .copyright__icon {
  fill: rgba(104, 183, 56, 0.3);
}


@media (min-width: @tablet-width) {
  .copyright {
    width: 160px;
    padding: 0;
  }

  .copyright__logo .copyright__icon {
    display: block;
    width: 30px;
    height: 39px;
  }
}
