.features__title {
  .font-text(36px, 60px);
  font-weight: 400;
  text-transform: none;
}

.features__list {
  .reset-list;
}


.features__item {
  font-family: @font-family-text;
  .font-text(14px, 18px);
  color: @text-color;
  text-transform: none;
}

@media (min-width: @tablet-width) {
  .features__title {
    .font-text(60px, 60px);
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    width: 245px;
    .font-text(16px, 24px);
  }
}
