.other-product {

  padding-top: 12px;
  padding-bottom: 18px;
  border-bottom: 1px solid #e6e6e6;

  &:first-child {
    border-top: 1px solid #e6e6e6;
  }

}

.other-product__title {
  margin-top: 0;
  margin-bottom: 20px;
  color: #222222;

  .font-text(16px, 20px);
  font-weight: 400;
}

.other-product__text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-family: @font-family-text;
  .font-text(12px, 16px);
  color: @text-color;
  text-transform: none;
}

.other-product__count {
  width: 130px;
}

.other-product__price {
  width: 130px;
  text-align: right;
}

@media (min-width: @tablet-width) {
  .other-product {
    display: flex;
    flex-wrap: wrap;
  }

  // .other-product {

  //   padding-top: 12px;
  //   padding-bottom: 18px;
  //   border-bottom: 1px solid #e6e6e6;
  //   &:first-child {
  //     border-top: 1px solid #e6e6e6;
  //   }

  // }

  .other-product__title {
    width: 50%;
    // margin-top: 0;
    // margin-bottom: 20px;
    // color: #222222;

    .font-text(20px, 20px);
    // font-weight: 400;
  }

  .other-product__text {
    width: 50%;
    // display: flex;
    justify-content: flex-end;
    // margin-bottom: 20px;
    // font-family: @font-family-text;
    .font-text(16px, 20px);
    // color: @text-color;
    // text-transform: none;
  }

  .other-product__count {
    width: 150px;
    text-align: right;
  }

  .other-product__price {
    text-align: right;
  }

  .other-product__button {
    width: 100%;
  }
}


@media (min-width: @desktop-width) {
  .other-product {
    width: 895px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  // .other-product {

  //   padding-top: 12px;
  //   padding-bottom: 18px;
  //   border-bottom: 1px solid #e6e6e6;
  //   &:first-child {
  //     border-top: 1px solid #e6e6e6;
  //   }

  // }

  .other-product__title {
    width: 245px;
    // margin-top: 0;
    // margin-bottom: 20px;
    // color: #222222;

    .font-text(20px, 20px);
    // font-weight: 400;
  }

  .other-product__text {
    width: 285px;
    // display: flex;
    // justify-content: flex-end;
    // margin-bottom: 20px;
    // font-family: @font-family-text;
    .font-text(16px, 20px);
    // color: @text-color;
    // text-transform: none;
  }

  .other-product__count {
    // width: 150px;
    text-align: left;
  }

  // .other-product__price {
  //   text-align: right;
  // }

  .other-product__button {
    width: 245px;
  }
}
