.page-header__logo-wrapper {
  border-bottom: 1px solid @bgc-underline;
}

.page-header__logo-container {
  .container-min();
}

.page-header__logo {
  display: block;
  width: 191px;
  height: auto;
  padding-top: 13px;
  padding-bottom: 9px;

  &--static {
    cursor: default;
  }

  &:not(&--static):hover {
    opacity: 0.8;
  }

  &:not(&--static):active {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  width: 191px;
  height: auto;
}


@media (min-width: @tablet-width) {
  .page-header__container {
    display: flex;
    justify-content: space-between;
    .container-tablet();
  }

  .page-header__logo-wrapper {
    border-bottom: none;
  }

  .page-header__logo-container {
    width: 100%;
    padding: 0;
  }

  .page-header__logo {
    padding-top: 24px;
    padding-bottom: 9px;
  }

  .page-header__logo-image {
    width: 173px;
    height: auto;
  }

  .page-header__nav {
    width: 440px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    min-height: 696px;
    margin-bottom: 80px;

    &--inner {
      min-height: 50px;
      margin-bottom: 52px;
    }
  }

  .page-header__container {
    margin: 0;
    padding: 0;
    width: auto;
    justify-content: center;
  }

  .page-header__logo-wrapper {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  .page-header__logo-container {
    width: 650px;
    padding-left: 40px;
    margin: 0;
    box-sizing: border-box;
  }

  .page-header__logo {
    width: 210px;
    padding-top: 50px;
    padding-bottom: 9px;
  }

  .page-header__nav {
    width: 50%;
    height: 696px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-position: 0% 0%;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }

    &--inner {
      background-image: none;
      height: 0;
    }
  }

  .page-header__logo-image {
    width: 210px;
    height: 72px;
  }
}
