.select-catalog__list {
  .reset-list;
}

.select-catalog__item {
  background-color: @bgc-block;
}

.select-catalog__title {
  .font-text(24px, 37px);
  font-weight: 400;
}

.select-catalog__text {
  font-family: @font-family-text;
  .font-text(14px, 18px);
  color: @text-color;
  text-transform: none;
}

.select-catalog__button {
  background-color: transparent;
  color: @base-color;
  .font-text(16px, 16px);
}
