.slider__image-wrapper {
   margin-bottom: 32px;
}

.slider__image {
  display: block;
  margin: 0 auto;
  width: 320px;
  height: 240px;

  &--after {
    display: none;
  }
}

.slider__range {
  display: flex;
  justify-content: center;
}

.slider__toggle {
  width: 50px;
  padding: 0;
  background-color: transparent;
  font-family: inherit;
  .font-text(16px, 20px);
  text-transform: uppercase;

  border: none;
}

.slider__scale {
  width: 85px;
  height: 14px;
  margin: 2px 15px 0;
  padding: 3px;
  border: 1px solid #cfcfcf;
  border-radius: 6px;
  box-sizing: border-box;
}

.slider__bar {
  width: 49%;
  height: 6px;
  background-color: @bgc-btn;
  border-radius: 6px;
}

@media (min-width: @tablet-width) {
  .slider {
    min-height: 460px;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 50px;
  }

  .slider__image-wrapper {
    position: relative;
    .container-tablet();
  }

  .slider__image {
    position: absolute;
    width: 690px;
    height: 517px;
    bottom: 100px;

    &--before {
      left: 50%;
      margin-left: -345px;
    }

    &--after {
      display: block;
      right: 50%;
      margin-right: -345px;
    }
  }

  .slider__range {
    .container-tablet();
    align-items: center;
  }

  .slider__toggle {
    width: auto;
    padding-bottom: 4px;

    .font-text(20px, 20px);

    border-bottom: 1px dotted #bebebe;
    cursor: pointer;
    outline: none;

    &:hover {
      border-bottom-style: solid;
      // outline: none;
    }

    &:active {
      border-bottom: 1px solid transparent;
      // outline: none;
    }

  }

  .slider__scale {
    position: relative;
    width: 427px;
    height: 7px;
    margin: 0 15px;
    background-color: #dcdcdc;
    border: none;
    border-radius: 2px;
  }

  .slider__scale-toggle {
    position: absolute;
    width: 8px;
    height: 8px;
    top: -12px;
    left: 48%;
    background-color: @bgc-btn;
    border: 12px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15),
    0 0 1px 1px @bgc-underline;
    cursor: pointer;

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25),
      0 0 1px 1px @bgc-underline;
    }

    &:active {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.30),
      0 0 2px 2px @bgc-btn;
      border: 11px solid #ffffff;
    }
  }

  .slider__bar {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .slider {
    min-height: 0;
    position: absolute;
    width: 610px;
    bottom: 0;
    left: 50%;
    margin-right: -305px;
    background-color: inherit;
  }

  .slider__image-wrapper {
    margin: 0;
    padding: 0;
    width: 610px;
  }

  .slider__range {
    margin: 0;
    padding: 0;
    width: 610px;
  }
}
