.reset-list() {
  margin: 0;
  padding: 0;

  list-style: none;
}

.container-min() {
  min-width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.font-text(@size: 14px, @height: 18px) {
  font-size: @size;
  line-height: @height;
}
